{% extends 'index.html' %}

{% block links %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="contacts" class="nav-link">
                <i class="material-icons">group</i>
                Contacts
            </a>
        </li>
        <li class="nav-item">
            <a href="projects" class="nav-link">
                <i class="material-icons">folder</i>
                Projects
            </a>
        </li>
        <li class="nav-item active">
            <a href="" class="nav-link">
                <i class="material-icons">list</i>
                Subscriptions
            </a>
        </li>
    </ul>
{% endblock %}
{% block find %}
    <form class="form-inline ml-auto" method="post" action="/find_subscriptions">
        <div class="form-group no-border">
            <input type="text" class="form-control" placeholder="Search" name="keyword">
        </div>
        <button type="submit" class="btn btn-white btn-just-icon btn-round">
            <i class="material-icons">search</i>
        </button>
    </form>
{% endblock find %}
{% block content %}
    {% if subscription_array %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Project</th>
            </tr>
            </thead>
            <tbody>
            {% for subscription in subscription_array %}
                <tr>
                    <td>{{ subscription.contact.name }}</td>
                    <td>{{ subscription.contact.surname }}</td>
                    <td>{{ subscription.project.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1 style="text-align: center">No subscriptions found</h1>
    {% endif %}
    <div>
        <!-- Button trigger modal -->
        <div style="text-align: right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Insert subscription
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form -->
                        <form action="/insert_subscription" method="post">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" for="contact_email">Email address</label>
                                <input type="email" class="form-control" id="contact_email"
                                       name="contact_email">
                            </div>
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating" for="project_url">Project Url</label>
                                <input type="url" class="form-control" id="project_url"
                                       name="project_url">
                            </div>
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
